# interface and object files
*.hi
*.hi-boot
*.o
*.o-boot
*.icurry
.cpm
.curry
Curry_Main_Goal.curry

# tex temporary files
*.aux
*.log
*.out
*.nav
*.snm
*.toc
*.tpt
*.vrb
*.pdf
*.blg
*.idx
*.ilg
*.ind
*.tpt
*.backup
*.synctex.gz
*~

# intermediate files
stage[1,2,3]
*.bak
Installation.hs
src/Installation.curry
*.log
.kics2sc
lib
env
runtime/dist
runtime/dist-newstyle
docs/src/version.tex
docs/src/tooldocs/casc/curry-style-guide.html
cabal-dev/
pkg/
.mk
.stack
.stack-work
/stack.yaml
stack.yaml.lock
TMPLIBOUT
*.state
KiCS2.Compile
KiCS2.REPL

# binaries
benchmarks/Benchmarks
bin/
cpns/CPNSD
examples/comptest
tools/GenInt
tools/ImportCalls
tools/AddTypes
tools/CreateMakefile
tools/CurryTest
tools/browser/BrowserGUI
tools/curry2js/Curry2JS
tools/currydoc/CurryDoc
tools/erd2curry/erd2curry
tools/SourceProgGUI
www/Registry
www/submitform

# documentation
lib/CDOC
lib/TEXDOC
docs/CurryStyleGuide.html
docs/INSTALL.html
docs/GITINSTALL.html
docs/RELNOTES.html
docs/src/manual.bbl
docs/src/lib
docs/markdown_syntax.html
docs/src/markdown_syntax.tex

# distribution
dist/
kics2*.tar.gz

# editors
.vscode
